In [1]:
%matplotlib inline
import pandas as pd

In [2]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                           title  year
0                Kenkoku no kane  1928
1    Vsyo nachinayetsya s lyubvi  1984
2              Expendable Assets  2016
3              Stardust Serenade  2006
4  Only One Way to Kill a Zombie  2010

In [3]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [4]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [5]:
titles.sort_values('year').iloc[0:2]

                     title  year
232061          Miss Jerry  1894
220818  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [6]:
titles[titles['title']=='Hamlet'].count()

title    20
year     20
dtype: int64

### How many movies are titled "North by Northwest"?

In [7]:
titles[titles['title']=='North by Northwest'].count()

title    1
year     1
dtype: int64

### When was the first movie titled "Hamlet" made?

In [8]:
titles[titles['title']=='Hamlet'].year.min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [9]:
titles[titles['title']=='Treasure Island'].sort_values('year')

                  title  year
75455   Treasure Island  1918
24522   Treasure Island  1920
48381   Treasure Island  1934
223769  Treasure Island  1950
31064   Treasure Island  1972
228670  Treasure Island  1973
180537  Treasure Island  1985
37577   Treasure Island  1999

### How many movies were made in the year 1950?

In [10]:
titles[titles['year'] == 1950].count()

title    1113
year     1113
dtype: int64

### How many movies were made in the year 1960?

In [11]:
titles[titles['year'] == 1960].count()

title    1549
year     1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [12]:
len(titles[titles.year // 10 == 195])

12934

### In what years has a movie titled "Batman" been released?

In [13]:
titles[titles['title']=='Batman'].year

22139    1943
35390    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [14]:
cast[cast['title'] == 'Inception'].count()['name']

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [15]:
cast[cast['title'] == 'Inception'].n.isnull().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [16]:
cast[cast['title'] == 'Inception'].n.notnull().sum()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [17]:
cast[(cast['title'] == 'North by Northwest') & (cast.n.notnull())].sort_values('n').name

871426               Cary Grant
3518333         Eva Marie Saint
1457165             James Mason
3157232     Jessie Royce Landis
356707           Leo G. Carroll
3048272    Josephine Hutchinson
1695173             Philip Ober
1275337           Martin Landau
2447081           Adam Williams
1811387            Edward Platt
665768        Robert Ellenstein
2295714            Les Tremayne
464736          Philip Coolidge
1508344           Patrick McVey
206471             Edward Binns
1384780               Ken Lynch
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [18]:
cast[(cast.title=='Sleuth') & (cast.year==1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [19]:
cast[(cast.title=='Sleuth') & (cast.year==2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [20]:
cast[(cast.title=='Hamlet') & (cast.year==1921)].n.notnull().sum()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [21]:
cast[(cast.title=='Hamlet') & (cast.year==1996)].count()['character']

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [22]:
len(cast[cast.character=='Hamlet'])

96

### How many people have played an "Ophelia"?

In [23]:
cast[cast.character=='Ophelia'].nunique()['name']

115

### How many people have played a role called "The Dude"?

In [24]:
cast[cast.character=='The Dude'].nunique()['name']

19

### How many people have played a role called "The Stranger"?

In [25]:
cast[cast.character=='The Stranger'].nunique()['name']

202

### How many roles has Sidney Poitier played throughout his career?

In [26]:
cast[cast.name=='Sidney Poitier'].count()['character']

43

### How many roles has Judi Dench played?

In [27]:
cast[cast.name=='Judi Dench'].count()['character']

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [28]:
cast[(cast.name=='Cary Grant') & (cast.n==2) & (cast.year<1950) & (cast.year>=1940)].sort_values('year')['character']

871423     Nick Arden
871433    Roger Adams
Name: character, dtype: object

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [29]:
cast[(cast.name=='Cary Grant') & (cast.n==1) & (cast.year<1950) & (cast.year>=1940)].sort_values('year')['character']

871448                             Matt Howard
871407                            Walter Burns
871450                      C. K. Dexter Haven
871438                        Johnnie Aysgarth
871452                            Leopold Dilg
871429                   Patrick 'Pat' O'Toole
871398                           Capt. Cassidy
871422    Joe Adams -posing as Joe Bascopolous
871430                             Jerry Flynn
871390                       Mortimer Brewster
871425                              Ernie Mott
871424                             Cole Porter
871427                                  Devlin
871444                             Dick Nugent
871445                                  Dudley
871421                           Jim Blandings
871402                       Dr. Madison Brown
871411                   Captain Henri Rochard
Name: character, dtype: object

### How many roles were available for actors in the 1950s?

In [30]:
cast[(cast.type=='actor') & (cast.year//10 == 195)].count()['character']

157738

### How many roles were available for actresses in the 1950s?

In [31]:
cast[(cast.type=='actress') & (cast.year//10 ==195)].count()['character']

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [32]:
cast[(cast.n==1) & (cast.year<=1980)].count()['character']

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [33]:
cast[(cast.n!=1) & (cast.year<=1980)].count()['character']

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [34]:
cast[(cast.n.isnull()) & (cast.year<=1980)].count()['character']

448347